- if @gif
  %img{:src => @gif.url, :style => "height: 100%"}

!= form_for @new_gif do |f|
  != f.text_field :url
  != f.submit 'submit'

:javascript

  $(document).ready(function () {
    setInterval(function () {
      $.get('/gifs/latest', {}, function(url) {
        $('img').attr('src', url)
      });
    }, 60*1000);
  });
